/* .barraInicio{
    border: solid; 
    width: 100vw;
    height: 10vh;
} */

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    text-decoration: underline;
}

.boxPrincipal{
    border: solid;
    height: 90vh;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    /* align-items: center; */
}

@media (max-width:  768px) {
    .boxPrincipal{
        height: auto;
    }
}

.boxSecundaria{
    height: auto;
    width: 25vw;
    padding-top: 5%;
}
.conteudo{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10%;
    /* border-width: 100vw; */
    padding-top: 10%;
    padding-bottom: 5%;
}

img{
    height: 50vh;
    width: 17vw;
}

.tituloLivro{
    font-size: 2vw;
    padding-top: 3%;
    padding-bottom: 2%;
}