.barraInicio{
    border: solid; 
    width: 100vw;
    height: 10vh;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    text-decoration: underline;
}

.boxPrincipal{
    border: solid;
    height: 100vh;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    /* align-items: center; */
}

.conteudo{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 50vh;
}
